# INPUTS
NET "SW0"   LOC = "V15" | IOSTANDARD = LVCMOS33 ; 
NET "SW1"   LOC = "W15" | IOSTANDARD = LVCMOS33 ; 

#OUTPUTS
NET "RED"   LOC = "U15" | IOSTANDARD = LVCMOS33 ; 
NET "GREEN" LOC = "V17" | IOSTANDARD = LVCMOS33 ; 
   