
NET "rst_i" LOC = "K18" | IOSTANDARD = LVCMOS33 ;

#Clock signal
NET "clk_i" LOC = "K17" | IOSTANDARD = LVCMOS33 ;

#NET "clk_i" TNM_NET = "clk_i";
#TIMESPEC "TS_clk" = PERIOD "clk_i" 10 MHz HIGH 50 %;

##Switches
NET "pio_A_i(0)" LOC = "G15" | IOSTANDARD = LVCMOS33 ; 
NET "pio_A_i(1)" LOC = "P15" | IOSTANDARD = LVCMOS33 ;
NET "pio_A_i(2)" LOC = "W13" | IOSTANDARD = LVCMOS33 ;
NET "pio_A_i(3)" LOC = "T16" | IOSTANDARD = LVCMOS33 ;

##Buttons
NET "pio_A_i(4)" LOC = "P16" | IOSTANDARD = LVCMOS33 ; 
NET "pio_A_i(5)" LOC = "K19" | IOSTANDARD = LVCMOS33 ;
NET "pio_A_i(6)" LOC = "Y16" | IOSTANDARD = LVCMOS33 ;

##LEDs
NET "pio_B_o(0)" LOC = "M14" | IOSTANDARD = LVCMOS33 ;
NET "pio_B_o(1)" LOC = "M15" | IOSTANDARD = LVCMOS33 ; 
NET "pio_B_o(2)" LOC = "G14" | IOSTANDARD = LVCMOS33 ;
NET "pio_B_o(3)" LOC = "D18" | IOSTANDARD = LVCMOS33 ;

##RGB LED 6
NET "pio_B_o(4)" LOC = "V16" | IOSTANDARD = LVCMOS33 ;
NET "pio_B_o(5)" LOC = "F17" | IOSTANDARD = LVCMOS33 ;
NET "pio_B_o(6)" LOC = "M17" | IOSTANDARD = LVCMOS33 ;
                                                                                                                            
#Pmod Header JC                                                                                                                  
NET "pio_C_io(0)" LOC = "V15" | IOSTANDARD = LVCMOS33 ;		 
NET "pio_C_io(1)" LOC = "W15" | IOSTANDARD = LVCMOS33 ;	
NET "pio_C_io(2)" LOC = "T11" | IOSTANDARD = LVCMOS33 ;	            
NET "pio_C_io(3)" LOC = "T10" | IOSTANDARD = LVCMOS33 ;           
NET "pio_C_io(4)" LOC = "W14" | IOSTANDARD = LVCMOS33 ;	             
NET "pio_C_io(5)" LOC = "Y14" | IOSTANDARD = LVCMOS33 ;	         
NET "pio_C_io(6)" LOC = "T12" | IOSTANDARD = LVCMOS33 ;	             
NET "pio_C_io(7)" LOC = "U12" | IOSTANDARD = LVCMOS33 ;	            
                                                                                                                                                                                                                                                                 
##Pmod Header JD                                                                                                                  
NET "sel_bus_o(0)"  LOC = "T14" | IOSTANDARD = LVCMOS33 ;	         
NET "sel_bus_o(1)"  LOC = "T15" | IOSTANDARD = LVCMOS33 ;				 
NET "sel_bus_o(2)"  LOC = "P14" | IOSTANDARD = LVCMOS33 ;	              
NET "i2c_scl_io"    LOC = "R14" | IOSTANDARD = LVCMOS33 ;       
NET "i2c_sda_io"    LOC = "U14" | IOSTANDARD = LVCMOS33 ;        
NET "LED_o(0)"      LOC = "U15" | IOSTANDARD = LVCMOS33 ;    
NET "LED_o(1)"      LOC = "V17" | IOSTANDARD = LVCMOS33 ;          
NET "sel_ser_i2c_o" LOC = "V18" | IOSTANDARD = LVCMOS33 ;   
 
##Pmod Header JE
NET "pio_D_o(0)" LOC = "V12" | IOSTANDARD = LVCMOS33 ; 
NET "pio_D_o(1)" LOC = "W16" | IOSTANDARD = LVCMOS33 ;             
NET "pio_D_o(2)" LOC = "J15" | IOSTANDARD = LVCMOS33 ;                      
NET "pio_D_o(3)" LOC = "H15" | IOSTANDARD = LVCMOS33 ;            
NET "pio_D_o(4)" LOC = "V13" | IOSTANDARD = LVCMOS33 ;            
NET "pio_D_o(5)" LOC = "U17" | IOSTANDARD = LVCMOS33 ;          
NET "pio_D_o(6)" LOC = "T17" | IOSTANDARD = LVCMOS33 ;               
NET "pio_D_o(7)" LOC = "Y17" | IOSTANDARD = LVCMOS33 ;                                                                                                             
  

